.gradle/3.2.1/taskArtifacts/fileHashes.bin
.gradle/3.2.1/taskArtifacts/fileSnapshots.bin
.gradle/3.2.1/taskArtifacts/taskArtifacts.bin
.gradle/3.2.1/taskArtifacts/taskArtifacts.lock
.idea/artifacts/Gradle___EasyDevs___EasyShopping_war.xml
.idea/artifacts/Gradle___EasyDevs___EasyShopping_war__exploded_.xml
.idea/compiler.xml
.idea/gradle.xml
.idea/libraries/Gradle__aopalliance_aopalliance_1_0.xml
.idea/libraries/Gradle__commons_logging_commons_logging_1_2.xml
.idea/libraries/Gradle__javax_servlet_jstl_1_2.xml
.idea/libraries/Gradle__junit_junit_4_11.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Gradle__org_mongodb_mongo_java_driver_2_12_3.xml
.idea/libraries/Gradle__org_springframework_security_spring_security_config_4_1_3_RELEASE.xml
.idea/libraries/Gradle__org_springframework_security_spring_security_core_4_1_3_RELEASE.xml
.idea/libraries/Gradle__org_springframework_security_spring_security_web_4_1_3_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_aop_4_3_3_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_beans_4_3_3_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_context_4_3_3_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_core_4_3_3_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_expression_4_3_3_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_web_4_3_3_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_webmvc_4_3_3_RELEASE.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/EasyShopping.iml
.idea/modules/EasyShopping_main.iml
.idea/modules/EasyShopping_test.iml
.idea/vcs.xml
.idea/workspace.xml
build
