<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context.xsd
	   http://www.springframework.org/schema/data/mongo
	   http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">

    <context:annotation-config />
    <context:component-scan base-package="com.easydevs.user"/>
    <context:component-scan base-package="com.easydevs.auth"/>
    <context:component-scan base-package="com.easydevs.product.service"/>

    <!--<bean id="userService" class="com.easydevs.user.UserServiceImpl"/>-->
    <!--<bean id="userService" class="com.easydevs.user.UserServiceImpl"/>-->

    <!--mongo-->
    <mongo:mongo host="localhost" port="27017" id="contentMongo"/>
    <mongo:db-factory id="contentMongoDbFactory" mongo-ref="contentMongo" dbname="content_db"/>

    <bean id="contentMongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg ref="contentMongoDbFactory"/>

    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--10mB-->
        <property name="maxUploadSize" value="10000000 "/>
    </bean>
</beans>